*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1555px;
    background-color: #F8F4E1;
}

.CartCheckout-main{
    width: 1310px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 173px;
}

.Bag-main{
    width: 718px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 139px;
}

.Bag-title{
    font-family: "kaisei decol";
    font-weight: 500;
    font-size: 32px;
    color: #8A6E26;
    margin-bottom: 33px;
}

.Bag-line{
    width: 718px;
    height: 1px;
    background-color: black;
    margin-bottom: 37px;
}

.Bag-card{
    width: 718px;
    height: 161px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    transition: 0.15s;
}

.Bag-card img{
    width: 200px;
    height: 161px;
    margin-right: 57px;
}

.Bag-card-description{
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 150px;
    margin-right: 125px;
}

.Bag-card-title{
    margin-left: 6px;
    font: 500 20px "kaisei decol";
}

.Bag-quantity{
    margin-left: 11px;
    margin-top: 5px;
    font: 500 14px "kaisei decol" ;
    color: #00000060;
}

.Bag-description{
    font: 500 15px "kaisei decol";
    width: 257px;
    height: 93px;
    text-align: center;
    margin-top: 15px;
}

.Bag-card-price{
    font: 400 20px "junge" ;
}

.Checkout-main{
    width: 453px;
    height: 551px;
    background-color: #F1E2CD;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.Checkout-title{
    font: 700 24px "kaisei decol";
    color: black;
    margin-left: 68px;
    margin-top: 50px;
    margin-bottom: 19px;
}

.Checkout-line{
    width: 394px;
    height: 2px;
    background-color: black;
    margin-left: 30px;
    margin-bottom: 15px;
}

.Checkout-details{
    width: 380px;
    height: 151px;
    margin-left: 38px;
    display: flex;
    margin-bottom: 24px;
}

.Checkout-datails-title{
    width: 113px;
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 181px;
}

.Checkout-datails-title p{
    font: 500 16px "kaisei decol";
    color: black;
}

.SubTotal{
    margin-bottom: 12px;
}

.Delivery{
    margin-bottom: 61px;
}

.Checkout-details-description{
    width: 113px;
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Checkout-details-description p{
    font: 500 16px "kaisei decol";
    color: black;
}

.Subtotal-amount{
    margin-bottom: 12px;
}

.Delivery-amount{
    margin-bottom: 61px;
}

.Standard-delivery-main{
    width: 380px;
    height: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Standard-delivery-main img{
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.Standard-delivery-main p{
    font: 700 20px "kaisei decol";
    color: #00000050;
}

.WeAccept{
    margin-top: 5px;
    margin-left: 52px;
    font: 5 00 16px "kaisei decol";
    margin-bottom: 23px;
}

.credits{
    width: 357px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}

#line2{
    height: 1px;
    margin-bottom: 20px;
}

.Bag-card:hover{
    transform: scale(1.05);
    background-color: #e0d7c9;
}

.Footer-main{
    width: 1440px;
    height: 500px;
    background-color: #F1E2CD;
    display: flex;
    align-items: center;
    margin-top: 180px;
}

.Footer-brand{
    width: 320px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 59px;
}

.Footer-title{
    display: flex;
    width: 320px;
    height: 45px;
    margin-bottom: 46px;
}

.Footer-title img{
    width: 45px;
    height: 45px;
    margin-right: 26px;
}

.Footer-title p{
    font-family: "italiana";
    font-size: 32px;
    color: black;
}

.Footer-tagline{
    font-family: "kaisei decol";
    font-size: 20px;
    color: black;
    margin-bottom: 148px;
    width: 256px;
    height: 66px;
    text-align: center;
}

.Footer-socials img{
    width: 40px;
    height: 40px;
    transition: 0.15s;
}

.Footer-socials{
    width: 316px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.Footer-OurShop{
    width: 266px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 91px;
    align-items: center;
}

.Footer-OurShop a{
    text-decoration: none;
    color: inherit;
}

.OurShop-title{
    font-family: "kaisei decol";
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.line{
    height: 1px;
    width: 253px;
    background-color: black;
    margin-bottom: 39px;
}

.Footer-nav{
    font-family: "kaisei decol";
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    font-weight: 300;
    transition: 0.15s;
    cursor: pointer;
}

.socials:hover{
    transform: scale(1.25);
}

.Footer-nav:hover{
    transform: scale(1.1);
    color:#6B5724 ;
}

.Footer-Customer{
    width: 256px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 58px;
    align-items: center;
}

.Footer-legal{
    width: 256px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 43px;
    align-items: center;
}